    body {
        background-color: #f4f6f8;
    }

    h1 {
        color: #333;
        text-align: center;
    }

    ul#data {
        list-style-type: none;
    }

    ul#data li {
        background-color: #fff;
        border: 5px solid #ddd;
        margin-bottom: 30px;
        padding: 40px;
        border-radius: 25px;
    }

    ul#data li strong {
        color: #555;
    }